version: '3'
services:
  web:
    build: apache
    ports:
      - 8001:80
    networks:
      my_network:
        ipv4_address: 192.168.46.5
  dns_server:
    image: andyshinn/dnsmasq
    command: --addn-hosts=/etc/custom_hosts
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dns/lista.txt:/etc/custom_hosts:ro
    networks:
      my_network:
        ipv4_address: 192.168.46.4      
  cliente:
    image: debian
    dns:
     - 192.168.46.4
    # volumes:
    #   - ./start.sh:/start.sh:ro
    # command: sh -c "/start.sh"
    command: tail -f /dev/null
    networks:
      my_network:
        ipv4_address: 192.168.46.3

networks:
  my_network:
    ipam:
      driver: default
      config:
        - subnet: 192.168.46.0/24